<div class="form-buttons loading-indicator-container">
    <a
        href="javascript:;"
        class="btn btn-primary oc-icon-check save"
        data-builder-command="localization:cmdSaveLanguage"
        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
        data-hotkey="ctrl+s, cmd+s">
        <?= e(trans('backend::lang.form.save')) ?>
    </a>

    <a
        href="javascript:;"
        class="btn btn-primary oc-icon-eyedropper"
        data-control="popup"
        data-handler="onLanguageShowCopyStringsPopup"
        data-stripe-load-indicator
    >
        <?= e(trans('rainlab.builder::lang.localization.add_missing_strings')) ?>
    </a>

    <a
        href="javascript:;"
        class="btn btn-primary oc-icon-recycle"
        data-builder-command="localization:cmdDeleteLanguage"
        data-confirm="<?= e(trans('r4l.localize::lang.localization.confirm_reset')) ?>"
    >
        <?= e(trans('r4l.localize::lang.localization.reset')) ?>
    </a>
</div>
